body{
    font: 20px Arial, sans-serif;
}
.navbar{
    background-color: #F8F8F8;
}

h3{
    color: black;
    text-transform: capitalize;
}
.quem-somos{
    background-color: teal;
    color:white;;
}

.margin{
    padding-top:  10px;
    padding-bottom: 10px;
}

.parceiros{
    background-color: whitesmoke;
  
}

.bg-footer{
    background-color: darkgrey;
    color: white;
}